

 {% extends 'layout_base/base.html' %}
 {%block conteudo%}
  <div class="box-grande">
   <div class="container">
   <div class="row">
   <h1><center> Lista de Produtos </center></h1>
   <hr>
    {% for produto in produtos %}
    <div class="col-lg-12">
    <img src="{{ url_for('static', filename='img/produtos/')}}{{produto.get_imagem()}}" alt="{{ produto.get_titulo() }}" class="img-produto">
    <h1 class="title">{{ produto.get_titulo() }}</h1>
    <h1 class="preco">R$: {{ produto.get_preco() }}</h1>
    <h3 class="estoque">Disponiveis: {{ produto.get_estoque() }}</h3>
    <hr>
    <a href="#" class="btn-comprar">Comprar</a>

    </div>
    {% endfor %}
    </div>
  </div>
</div>
 {% endblock %}